@import "./utilities.css";
@plugin 'tailwindcss-animate';
@plugin "@tailwindcss/forms" {
  strategy: "class";
}
@plugin "@tailwindcss/typography";

@theme inline {
  --color-primary-light: var(--primary-light);
  --color-primary-dark-light: var(--primary-dark-light);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark-light: var(--secondary-dark-light);
  --color-success: var(--success);
  --color-success-light: var(--success-light);
  --color-success-dark-light: var(--success-dark-light);
  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);
  --color-danger-dark-light: var(--danger-dark-light);
  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);
  --color-warning-dark-light: var(--warning-dark-light);
  --color-info: var(--info);
  --color-info-light: var(--info-light);
  --color-info-dark-light: var(--info-dark-light);
  --color-dark: var(--dark);
  --color-dark-light: var(--dark-light);
  --color-dark-dark-light: var(--dark-dark-light);
  --color-black: var(--black);
  --color-black-light: var(--black-light);
  --color-black-dark-light: var(--black-dark-light);
  --color-textColor: var(--textColor);
  --color-textColor-light: var(--textColor-light);
  --color-textColor-dark: var(--textColor-dark);
  --color-white: var(--white);
  --color-white-light: var(--white-light);
  --color-white-dark: var(--white-dark);
  --font-nunito: var(--nunito);

  --shadow-3xl: 0 2px 2px rgb(224 230 237 / 46%),
    1px 6px 7px rgb(224 230 237 / 46%);

  --animate-slide-down: slide-down 0.3s ease-out;

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --primary-light: #2563eb;
  --primary-dark-light: rgba(67, 97, 238, 0.15);
  --secondary-light: #ebe4f7;
  --secondary-dark-light: rgb(128 93 202 / 15%);
  --success: #00ab55;
  --success-light: #ddf5f0;
  --success-dark-light: rgba(0, 171, 85, 0.15);
  --danger: #e7515a;
  --danger-light: #fff5f5;
  --danger-dark-light: rgba(231, 81, 90, 0.15);
  --warning: #e2a03f;
  --warning-light: #fff9ed;
  --warning-dark-light: rgba(226, 160, 63, 0.15);
  --info: #2196f3;
  --info-light: #e7f7ff;
  --info-dark-light: rgba(33, 150, 243, 0.15);
  --dark: #3b3f5c;
  --dark-light: #eaeaec;
  --dark-dark-light: rgba(59, 63, 92, 0.15);
  --black: #0e1726;
  --black-light: #e3e4eb;
  --black-dark-light: rgba(14, 23, 38, 0.15);
  --textColor: #0c273d;
  --textColor-light: #ffffff;
  --textColor-dark: #0c273d;
  --white: #ffffff;
  --white-light: #e0e6ed;
  --white-dark: #888ea8;
}

.dark {
  --primary-light: #2563eb;
  --primary-dark-light: rgba(67, 97, 238, 0.15);
  --secondary-light: #ebe4f7;
  --secondary-dark-light: rgb(128 93 202 / 15%);
  --success: #00ab55;
  --success-light: #ddf5f0;
  --success-dark-light: rgba(0, 171, 85, 0.15);
  --danger: #e7515a;
  --danger-light: #fff5f5;
  --danger-dark-light: rgba(231, 81, 90, 0.15);
  --warning: #e2a03f;
  --warning-light: #fff9ed;
  --warning-dark-light: rgba(226, 160, 63, 0.15);
  --info: #2196f3;
  --info-light: #e7f7ff;
  --info-dark-light: rgba(33, 150, 243, 0.15);
  --dark: #3b3f5c;
  --dark-light: #eaeaec;
  --dark-dark-light: rgba(59, 63, 92, 0.15);
  --black: #0e1726;
  --black-light: #e3e4eb;
  --black-dark-light: rgba(14, 23, 38, 0.15);
  --textColor: #0c273d;
  --textColor-light: #ffffff;
  --textColor-dark: #0c273d;
  --white: #ffffff;
  --white-light: #e0e6ed;
  --white-dark: #888ea8;
}

@layer utilities {
  --tw-prose-invert-headings: var(--color-white-dark);
  --tw-prose-invert-links: var(--color-white-dark);
}

@layer base {
  h1 {
    fontsize: "40px";
    marginbottom: "0.5rem";
    margintop: 0;
  }
  h2 {
    fontsize: "32px";
    marginbottom: "0.5rem";
    margintop: 0;
  }
  h3 {
    fontsize: "28px";
    marginbottom: "0.5rem";
    margintop: 0;
  }
  h4 {
    fontsize: "24px";
    marginbottom: "0.5rem";
    margintop: 0;
  }
  h5 {
    fontsize: "20px";
    marginbottom: "0.5rem";
    margintop: 0;
  }
  h6 {
    fontsize: "16px";
    marginbottom: "0.5rem";
    margintop: 0;
  }
  p {
    marginbottom: "0.5rem";
  }
  li {
    margin: 0;
  }
  img {
    margin: 0;
  }
}
